body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rethink Sans', sans-serif;
}
div.post{
    background-color: lightgrey;
    height:640px;
    width:450px;
    margin:auto;
    

}
div.header{
    width:100%;
    height: 50px;
    margin:10px;
   
    
}
div.header .icon,div.header .user, div.header .options {
    display:inline-block;
    position:relative;
    top:10px;
    vertical-align: bottom;
    width:100%;
    height: 40px;
}
div.header .user{
    width:80%;
    
    text-align: top;  
}
div.header p{
    position:relative;
    top:-15px;
}
div.header .icon, div.header .options{
    width:8%;  
}
div.header .icon i,div.header .options i {
    position:relative;
    left:30%;
    top:10px;
}
div.image img{
    width:100%;
}
div.bodypost{
    box-sizing: content-box;
    width:95%;
    margin:0px 10px 0px 10px;
    height: 150px;
}
div.bodypost .interaction{
    width:100%;
}
div.bodypost .interaction .like,div.bodypost .interaction .comments,div.bodypost .interaction .share{
    display:inline-block;
    margin:15px 3px 3px 3px;
    width:6%;
}
div.bodypost .interaction .save{
    display:inline-block;
    margin:15px 0px 15px 3px;
    width:74%;
    text-align: right;
}
div.bodypost .likes{
    font-size: 14px;
    height:20px;
}
div.bodypost .text{
    width:100%;
    height:80px;
    
}